name: CI Pipeline

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20.19.0

      # Clean reinstall + rebuild native bindings
      - name: Clean install all dependencies
        run: |
          rm -rf node_modules package-lock.json
          npm install --no-audit --prefer-offline --no-fund
          npm rebuild lightningcss --build-from-source
          npm rebuild rollup --build-from-source

      - name: Verify Rollup install
        run: npx rollup --version

      - name: Run tests
        run: npm test
